:root {
  --color-primary-dark: #011c44;
  --color-primary-brand: #2b7fff;
  --color-primary-white: #fff;
  --color-primary-card: #000;
  --color-privacy-grey: #747272;
}

.title-blue {
  font-family: "Play", sans-serif;
  color: var(--color-primary-brand);
}
